li {
    list-style: none;
    margin-bottom: 30px;
}

.facility,
.distance {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
}

.quality,
.cost {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}